---
title: Client Dependencies
owner: Spring Cloud Services
---

<strong><%= modified_date %></strong>

See below for information about the dependencies required for client applications using Spring Cloud Services service instances.

## <a id="include-starters"></a>Include Spring Cloud Services Starters

To work with Spring Cloud Services service instances, your client application must include the `spring-cloud-services-starter-parent` BOM.

If using Maven, include in `pom.xml`:

```xml
  <parent>
    <groupId>io.pivotal.spring.cloud</groupId>
    <artifactId>spring-cloud-services-starter-parent</artifactId>
    <version>1.0.2.RELEASE</version>
    <relativePath/> <!-- lookup parent from repository -->
  </parent>
```

If using Gradle, you will also need to use the <a href="https://github.com/spring-gradle-plugins/dependency-management-plugin">Gradle dependency management plugin</a>. Include in `build.gradle`:

```groovy
buildscript {
    repositories {
        mavenCentral()
    }
    dependencies {
        classpath("io.spring.gradle:dependency-management-plugin:0.5.6.RELEASE")
    }
}

apply plugin: "io.spring.dependency-management"

dependencyManagement {
    imports {
        mavenBom "io.pivotal.spring.cloud:spring-cloud-services-starter-parent:1.0.2.RELEASE"
    }
}
```

### <a id="config-server"></a>Config Server

Your application must declare `spring-cloud-services-starter-config-client` as a dependency.

If using Maven, include in `pom.xml`:

```
  <dependencies>
    <dependency>
      <groupId>io.pivotal.spring.cloud</groupId>
      <artifactId>spring-cloud-services-starter-config-client</artifactId>
    </dependency>
  </dependencies>
```

If using Gradle, include in `build.gradle`:

```
dependencies {
    compile("io.pivotal.spring.cloud:spring-cloud-services-starter-config-client")
}
```

### <a id="service-registry"></a>Service Registry

Your application must declare `spring-cloud-services-starter-service-registry` as a dependency.

If using Maven, include in `pom.xml`:

```
  <dependencies>
    <dependency>
      <groupId>io.pivotal.spring.cloud</groupId>
      <artifactId>spring-cloud-services-starter-service-registry</artifactId>
    </dependency>
  </dependencies>
```

If using Gradle, include in `build.gradle`:

```
dependencies {
    compile("io.pivotal.spring.cloud:spring-cloud-services-starter-service-registry")
}
```

### <a id="circuit-breaker-dashboard"></a>Circuit Breaker Dashboard

Your application must declare `spring-cloud-services-starter-circuit-breaker` as a dependency.

If using Maven, include in `pom.xml`:

```
  <dependencies>
    <dependency>
      <groupId>io.pivotal.spring.cloud</groupId>
      <artifactId>spring-cloud-services-starter-circuit-breaker</artifactId>
    </dependency>
  </dependencies>
```

If using Gradle, include in `build.gradle`:

```
dependencies {
    compile("io.pivotal.spring.cloud:spring-cloud-services-starter-circuit-breaker")
}
```
