---
title: Spring Cloud Services for Pivotal Cloud Foundry&reg;
owner: Spring Cloud Services
---

Spring Cloud Services for [Pivotal Cloud Foundry&reg;](https://network.pivotal.io/products/pivotal-cf) (PCF) packages server-side components of <a href="http://projects.spring.io/spring-cloud/">Spring Cloud</a> projects, such as <a href="http://cloud.spring.io/spring-cloud-netflix/">Spring Cloud Netflix</a> and <a href="http://cloud.spring.io/spring-cloud-config/">Spring Cloud Config</a>, and makes them available as services in the Marketplace. This frees you from having to implement and maintain your own managed services in order to use the included projects. Taking advantage of these battle-tested patterns, and of the libraries that implement them, can now be as simple as including a few dependencies in your application build file and applying the appropriate annotation in your source code.

### Services

Spring Cloud Services currently provides the following services.

| Service Type                                                         | Current Version     |
|----------------------------------------------------------------------|---------------------|
| <a href="./config-server/index.html">Config Server</a>               | 2                   |
| <a href="./service-registry/index.html">Service Registry</a>         | 2                   |
| <a href="./circuit-breaker/index.html">Circuit Breaker Dashboard</a> | 2                   |

See below for the Spring Cloud Services releases that include each service version.

| Service Version | Tile Version       |
------------------|--------------------|
| 1               | 1.0.0 - 1.0.3      |
| 2               | >= 1.0.4 & < 1.1.0 |

### Dependencies

Spring Cloud Services relies on the following other Pivotal Cloud Foundry&reg; products.

| Service                                                                             | Supported Versions  |
|-------------------------------------------------------------------------------------|---------------------|
| <a href="https://network.pivotal.io/products/p-mysql">MySQL</a>                     | 1.6.1-1.7.x         |
| <a href="https://network.pivotal.io/products/pivotal-rabbitmq-service">RabbitMQ</a> | 1.4.0-1.5.x         |

<a id="product-snapshot"></a>
## Product Snapshot

<dl>
<dt>Current Spring Cloud Services for PCF Details</dt>
<dd><strong>Version</strong>: 1.0.33 </dd>
<dd><strong>Release Date</strong>: 21 September 2017</dd>
<dd><strong>Software component version</strong>: Spring Cloud OSS Angel.SR4</dd>
<dd><strong>Compatible Ops Manager Version(s)</strong>: 1.7.x, 1.6.x</dd>
<dd><strong>Compatible Elastic Runtime Version(s)</strong>: 1.7.x, 1.6.x</dd>
<dd><strong>vSphere support?</strong> Yes</dd>
<dd><strong>AWS support?</strong> Yes</dd>
</dl>
