---
title: Installing Spring Cloud&reg; Services for Pivotal Cloud Foundry
owner: Spring Cloud Services
---

<style>
    .note.warning {
        background-color: #fdd;
        border-color: #fbb
    }

    .note.warning:before {
        color: #f99;
     }
</style>

<strong><%= modified_date %></strong>

Ensure that you have or have completed all items listed in <a href="./index.html#requirements">Requirements</a>. Then follow the below steps to install Spring Cloud Services.

<p class="note"><strong>Important: </strong> Spring Cloud Services requires one of the <a href="https://network.pivotal.io/products/p-mysql">MySQL for PCF</a> or <a href="https://network.pivotal.io/products/pivotal-mysql">MySQL for PCF v2</a> products. Install one of these products before installing Spring Cloud Services.</p>

## Installation Steps

1. Download Spring Cloud Services from [Pivotal Network](https://network.pivotal.io/).

1. In the Installation Dashboard of [Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf) (PCF) Operations Manager, click **Import a Product** on the left sidebar to upload the Spring Cloud Services `.pivotal` file.

1. Hover over **Spring Cloud Services** in the **Available Products** list and click the **Add &#187;** button.

1. When the **Spring Cloud Services** tile appears in the **Installation Dashboard**, click it. In the **Settings** tab, click **Assign AZs and Networks**.

    <%= image_tag("./images/installation/azs-and-networks.png") %>

    Select the availability zones for the tile to use. In the **Network** section, select the PAS (or ERT) network.

1. Still in the **Settings** tab, click **Spring Cloud Services** to configure settings for Spring Cloud Services. For information about configuring these settings, see [Tile Configuration Options](./tile-configuration.html#tile-configuration-options).

    <%= image_tag("./images/installation/settings.png") %>

    After configuring the settings, click **Save**.

<%# removing for now
1. If the **Stemcell** tab is highlighted in orange, click it. Download the correct stemcell from [Pivotal Network](http://network.pivotal.io) and click **Import Stemcell** to import it.

    installation/stemcell.png
%>

1. Return to the Installation Dashboard and click **Apply changes** on the right sidebar to install the tile.
