---
title: Release Notes for Spring Cloud&reg; Services on Pivotal Cloud Foundry
owner: Spring Cloud Services
---

<html class="list-style-none"></html>

Release notes for [Spring Cloud Services for Pivotal Cloud Foundry](https://network.pivotal.io/products/p-spring-cloud-services)

## <a id="1-2-0-migrating-from-1-1-x"></a>Migrating from 1.1.x

If you are upgrading from a 1.1.x release of Spring Cloud Services, no changes are required for client applications or Spring Cloud Services service instances.

## <a id="1-2-0-migrating-from-1-0-x"></a>Migrating from 1.0.x

The Spring Cloud Services client dependencies were restructured in 1.1.0. To ensure compatibility of your client applications with Spring Cloud Services 1.2.x service instances, you must update your client applications to include the current dependencies and the Spring Boot and Spring Cloud Maven BOM dependencies. For information about upgrading Spring Cloud Services service instances after upgrading the Spring Cloud Services product, see the <a href="/spring-cloud-services/1-2/service-instance-upgrades.html">Service Instance Upgrades</a> topic. For complete information about the current Spring Cloud Services client dependencies, see <a href="/spring-cloud-services/1-2/client-dependencies.html">Client Dependencies</a>.

After upgrading a 1.0.x Circuit Breaker Dashboard service instance to a 1.2.x version, you must unbind, rebind, and restart any client applications which were bound to the instance. This is due to a change in how service instance credentials are managed.

## <a id="1-2-24"></a>1.2.24

**Release Date: 24th January 2018**

Enhancements included in this release:

* The stemcell has been updated to 3445.24. This resolves the following issues:
  * [[USN-3540-2]](http://www.ubuntu.com/usn/usn-3540-2/): Linux kernel (Xenial HWE) vulnerabilities

## <a id="1-2-23"></a>1.2.23

**Release Date: 19th January 2018**

Enhancements included in this release:

* The stemcell has been updated to 3445.23. This resolves the following issues:
  * [[USN-3534-1]](http://www.ubuntu.com/usn/usn-3534-1/): GNU C Library vulnerabilities

## <a id="1-2-22"></a>1.2.22

**Release Date: 11th January 2018**

Enhancements included in this release:

* The stemcell has been updated to 3445.22. This resolves the following issues:
  * [[USN-3522-2]](http://www.ubuntu.com/usn/usn-3522-2/): Linux (Xenial HWE) vulnerability
  * [[USN-3522-4]](http://www.ubuntu.com/usn/usn-3522-4/): Linux kernel (Xenial HWE) regression

## <a id="1-2-21"></a>1.2.21

**Release Date: 11th December 2017**

Enhancements included in this release:

* The stemcell has been updated to 3445.19. This resolves the following issues:
  * [[USN-3505-1]](https://usn.ubuntu.com/usn/usn-3505-1/): Linux firmware vulnerabilities

## <a id="1-2-20"></a>1.2.20

**Release Date: 30th November 2017**

Enhancements included in this release:

* The previous release used an incorrect version of the stemcell. This release corrects that. The stemcell has been updated to 3445.17.

## <a id="1-2-19"></a>1.2.19

**Release Date: 2nd November 2017**

Enhancements included in this release:

* The stemcell has been updated to 3445.16.

## <a id="1-2-17"></a>1.2.17

**Release Date: 18th August 2017**

Enhancements included in this release:

* The stemcell has been updated to 3363.31. This resolves the following issues:
  * [[USN-3392-2]](https://usn.ubuntu.com/usn/usn-3392-2/): Linux kernel (Xenial HWE) regression

## <a id="1-2-16"></a>1.2.16

**Release Date: 15th August 2017**

Enhancements included in this release:

* The stemcell has been updated to 3363.30. This resolves the following issues:
  * [[USN-3385-2]](https://usn.ubuntu.com/usn/usn-3385-2/): Linux kernel (Xenial HWE) vulnerabilities

## <a id="1-2-15"></a>1.2.15

**Release Date: 6th August 2017**

Enhancements included in this release:

* The stemcell has been updated to 3363.29. This resolves the following issues:
  * [[USN-3378-2]](https://usn.ubuntu.com/usn/usn-3378-2/): Linux kernel (Xenial HWE) vulnerabilities

## <a id="1-2-14"></a>1.2.14

**Release Date: 21st June 2017**

Enhancements included in this release:

* The stemcell has been updated to 3363.26. This resolves the following issues:
  * [[USN-3334-1]](https://www.ubuntu.com/usn/usn-3334-1/): Linux kernel (Xenial HWE) vulnerabilities

## <a id="1-2-13"></a>1.2.13

**Release Date: 5th June 2017**

Enhancements included in this release:

* The stemcell has been updated to 3363.25. This resolves the following issues:
  * [[USN-3304-1]](https://www.ubuntu.com/usn/usn-3304-1/): Sudo vulnerability

## <a id="1-2-12"></a>1.2.12

**Release Date: 25th May 2017**

Enhancements included in this release:

* The stemcell has been updated to 3363.24. This resolves the following issues:
  * [[USN-3291-3]](https://www.ubuntu.com/usn/usn-3291-3/): Linux kernel (Xenial HWE) vulnerabilities

## <a id="1-2-11"></a>1.2.11

**Release Date: 27th April 2017**

Enhancements included in this release:

* The stemcell has been updated to 3363.20. This resolves the following issues:
  * [[USN-3265-2]](https://www.ubuntu.com/usn/usn-3265-2/): Linux kernel (Xenial HWE) vulnerabilities

## <a id="1-2-10"></a>1.2.10

**Release Date: 31st March 2017**

Enhancements included in this release:

* The stemcell has been updated to 3363.14. This resolves the following issues:
  * [[USN-3249-2]](https://www.ubuntu.com/usn/usn-3249-2/): Linux kernel (Xenial HWE) vulnerability

## <a id="1-2-9"></a>1.2.9

**Release Date: 10th March 2017**

Enhancements included in this release:

* The stemcell has been updated to 3263.21. This resolves the following issues:
  * [[USN-3220-2]](https://www.ubuntu.com/usn/usn-3220-2/): Linux kernel (Xenial HWE) vulnerability

## <a id="1-2-8"></a>1.2.8

**Release Date: 28th February 2017**

Enhancements included in this release:

* The stemcell has been updated to 3263.20. This resolves the following issues:
  * [[USN-3208-2]](https://www.ubuntu.com/usn/usn-3208-2/): Linux kernel (Xenial HWE) vulnerabilities

## <a id="1-2-7"></a>1.2.7

**Release Date: 30th January 2017**

Enhancements included in this release:

* The stemcell has been updated to 3263.17. This resolves the following issues:
  * [[USN-3161-2]](https://www.ubuntu.com/usn/usn-3161-2/): Linux kernel (Xenial HWE) vulnerabilities
  * [[USN-3169-2]](https://www.ubuntu.com/usn/usn-3169-2/): Linux kernel (Xenial HWE) vulnerabilities
  * [[USN-3172-1]](https://www.ubuntu.com/usn/usn-3172-1/): Bind vulnerabilities

## <a id="1-2-6"></a>1.2.6

**Release Date: 21st December 2016**

Fixes included in this release:

* A timeout issue that could occur during the push operation for service instance backing applications has been resolved.

## <a id="1-2-5"></a>1.2.5

**Release Date: 14th December 2016**

Enhancements included in this release:

* The stemcell has been updated to 3263.13. This resolves the following issues:
  * [[USN-3156-1]](https://www.ubuntu.com/usn/usn-3156-1/): APT vulnerability

## <a id="1-2-4"></a>1.2.4

**Release Date: 7th December 2016**

Enhancements included in this release:

* The stemcell has been updated to 3263.12. This resolves the following issues:
  * [[USN-3151-2]](https://www.ubuntu.com/usn/usn-3151-2/): Linux kernel (Xenial HWE) vulnerability
* The Spring Cloud Services broker has been upgraded to Spring Cloud Brixton.SR7.
* The validation normally performed by Spring Cloud Services for the Pivotal Cloud Foundry&reg; Elastic Runtime SSL certificate can now be disabled by operators in the tile's settings.

## <a id="1-2-3"></a>1.2.3

**Release Date: 10th November 2016**

Enhancements included in this release:

* For increased security, the Service Registry now requires that a client application's `eureka.instance.secureVirtualHostname` and `eureka.instance.virtualHostname` properties, if set, match the client application's `eureka.instance.appname` property.

<p class='note'><strong>Note</strong>: Pivotal recommends that client applications do not set either of the <code>eureka.instance.secureVirtualHostname</code> or <code>eureka.instance.virtualHostname</code> properties.</p>

## <a id="1-2-2"></a>1.2.2

**Release Date: 21st October 2016**

Enhancements included in this release:

* The stemcell has been updated to 3263.8. This resolves the following issues:
  * [[USN-3106-2]](https://www.ubuntu.com/usn/usn-3106-2/): Linux kernel (Xenial HWE) vulnerability

## <a id="1-2-1"></a>1.2.1

**Release Date: 13th October 2016**

Enhancements included in this release:

* The stemcell has been updated to 3263.7 for stability and bug fixes.

## <a id="1-2-0"></a>1.2.0

**Release Date: 7th October 2016**

<p class='note'><strong>Note</strong>: Spring Cloud Services 1.2.0 is compatible with <a href="https://network.pivotal.io/products/pivotal-cf">Pivotal Cloud Foundry</a> (PCF) versions 1.6.x, 1.7.x, and 1.8.x. PCF 1.8 is recommended for optimum experience with this release.</p>

Enhancements included in this release:

* Service Registry service instances can now be configured to replicate service registrations across multiple PCF installations and availability zones.
* Service Registry service instances can now be configured to replicate service registrations across PCF organization and space boundaries.
* Service Registry service instances now allow multiple applications within a space to register with the same application name, so that registered applications can use a blue / green deployment strategy.
* Service Registry service instance dashboards now display the URI and, if a service instance is operating in high-availability (HA) mode, the local node count of the service instance.
* The Spring Cloud Services broker has been upgraded to Spring Boot 1.3.7 and Spring Cloud Brixton.SR5.
* The RabbitMQ Java client used by the Spring Cloud Services service broker has been upgraded to version 3.6.5. This resolves an issue where the Spring Cloud Services service broker could not provision service instances when the RabbitMQ for PCF product was using TLS and had its TLS 1.0 support disabled.
