---
title: Release Notes for Spring Cloud&reg; Services on Pivotal Cloud Foundry
owner: Spring Cloud Services
---

<html class="list-style-none"></html>

Release notes for [Spring Cloud Services for Pivotal Cloud Foundry](https://network.pivotal.io/products/p-spring-cloud-services)

## <a id="migrating-from-1-0-x"></a>Migrating from 1.0.x

In 1.1.0, the Spring Cloud Services client dependencies have been restructured and are based on Spring Cloud Brixton. To ensure compatibility of your client applications with Spring Cloud Services 1.1.0 service instances, you must update client applications to include the new dependencies. Your client applications must also include the Spring Boot and Spring Cloud Maven BOM dependencies.

For information about upgrading Spring Cloud Services service instances after upgrading the Spring Cloud Services product, see the <a href="/spring-cloud-services/1-1/service-instance-upgrades.html">Service Instance Upgrades</a> topic. For complete information about the Spring Cloud Services client dependencies, see <a href="/spring-cloud-services/1-1/client-dependencies.html">Client Dependencies</a>.

## <a id="1-1-28"></a>1.1.28

**Release Date: 24th January 2018**

Enhancements included in this release:

* The stemcell has been updated to 3445.24. This resolves the following issues:
  * [[USN-3540-2]](http://www.ubuntu.com/usn/usn-3540-2/): Linux kernel (Xenial HWE) vulnerabilities

## <a id="1-1-27"></a>1.1.27

**Release Date: 19th January 2018**

Enhancements included in this release:

* The stemcell has been updated to 3445.23. This resolves the following issues:
  * [[USN-3534-1]](http://www.ubuntu.com/usn/usn-3534-1/): GNU C Library vulnerabilities

## <a id="1-1-26"></a>1.1.26

**Release Date: 11th January 2018**

Enhancements included in this release:

* The stemcell has been updated to 3445.22. This resolves the following issues:
  * [[USN-3522-2]](http://www.ubuntu.com/usn/usn-3522-2/): Linux (Xenial HWE) vulnerability
  * [[USN-3522-4]](http://www.ubuntu.com/usn/usn-3522-4/): Linux kernel (Xenial HWE) regression

## <a id="1-1-25"></a>1.1.25

**Release Date: 11th December 2017**

Enhancements included in this release:

* The stemcell has been updated to 3445.19. This resolves the following issues:
  * [[USN-3505-1]](https://usn.ubuntu.com/usn/usn-3505-1/): Linux firmware vulnerabilities

## <a id="1-1-24"></a>1.1.24

**Release Date: 30th November 2017**

Enhancements included in this release:

* The previous release used an incorrect version of the stemcell. This release corrects that. The stemcell has been updated to 3445.17.

## <a id="1-1-23"></a>1.1.23

**Release Date: 2nd November 2017**

Enhancements included in this release:

* The stemcell has been updated to 3445.16.

## <a id="1-1-21"></a>1.1.21

**Release Date: 18th August 2017**

Enhancements included in this release:

* The stemcell has been updated to 3363.31. This resolves the following issues:
  * [[USN-3392-2]](https://usn.ubuntu.com/usn/usn-3392-2/): Linux kernel (Xenial HWE) regression

## <a id="1-1-20"></a>1.1.20

**Release Date: 15th August 2017**

Enhancements included in this release:

* The stemcell has been updated to 3363.30. This resolves the following issues:
  * [[USN-3385-2]](https://usn.ubuntu.com/usn/usn-3385-2/): Linux kernel (Xenial HWE) vulnerabilities

## <a id="1-1-19"></a>1.1.19

**Release Date: 6th August 2017**

Enhancements included in this release:

* The stemcell has been updated to 3363.29. This resolves the following issues:
  * [[USN-3378-2]](https://usn.ubuntu.com/usn/usn-3378-2/): Linux kernel (Xenial HWE) vulnerabilities

## <a id="1-1-18"></a>1.1.18

**Release Date: 21st June 2017**

Enhancements included in this release:

* The stemcell has been updated to 3363.26. This resolves the following issues:
  * [[USN-3334-1]](https://www.ubuntu.com/usn/usn-3334-1/): Linux kernel (Xenial HWE) vulnerabilities

## <a id="1-1-17"></a>1.1.17

**Release Date: 5th June 2017**

Enhancements included in this release:

* The stemcell has been updated to 3363.25. This resolves the following issues:
  * [[USN-3304-1]](https://www.ubuntu.com/usn/usn-3304-1/): Sudo vulnerability

## <a id="1-1-16"></a>1.1.16

**Release Date: 25th May 2017**

Enhancements included in this release:

* The stemcell has been updated to 3363.24. This resolves the following issues:
  * [[USN-3291-3]](https://www.ubuntu.com/usn/usn-3291-3/): Linux kernel (Xenial HWE) vulnerabilities

## <a id="1-1-15"></a>1.1.15

**Release Date: 27th April 2017**

Enhancements included in this release:

* The stemcell has been updated to 3363.20. This resolves the following issues:
  * [[USN-3265-2]](https://www.ubuntu.com/usn/usn-3265-2/): Linux kernel (Xenial HWE) vulnerabilities

## <a id="1-1-14"></a>1.1.14

**Release Date: 31st March 2017**

Enhancements included in this release:

* The stemcell has been updated to 3363.14. This resolves the following issues:
  * [[USN-3249-2]](https://www.ubuntu.com/usn/usn-3249-2/): Linux kernel (Xenial HWE) vulnerability

## <a id="1-1-13"></a>1.1.13

**Release Date: 10th March 2017**

Enhancements included in this release:

* The stemcell has been updated to 3263.21. This resolves the following issues:
  * [[USN-3220-2]](https://www.ubuntu.com/usn/usn-3220-2/): Linux kernel (Xenial HWE) vulnerability

## <a id="1-1-12"></a>1.1.12

**Release Date: 28th February 2017**

Enhancements included in this release:

* The stemcell has been updated to 3263.20. This resolves the following issues:
  * [[USN-3208-2]](https://www.ubuntu.com/usn/usn-3208-2/): Linux kernel (Xenial HWE) vulnerabilities

## <a id="1-1-11"></a>1.1.11

**Release Date: 30th January 2017**

Enhancements included in this release:

* The stemcell has been updated to 3263.17. This resolves the following issues:
  * [[USN-3161-2]](https://www.ubuntu.com/usn/usn-3161-2/): Linux kernel (Xenial HWE) vulnerabilities
  * [[USN-3169-2]](https://www.ubuntu.com/usn/usn-3169-2/): Linux kernel (Xenial HWE) vulnerabilities
  * [[USN-3172-1]](https://www.ubuntu.com/usn/usn-3172-1/): Bind vulnerabilities

## <a id="1-1-10"></a>1.1.10

**Release Date: 14th December 2016**

Enhancements included in this release:

* The stemcell has been updated to 3263.13. This resolves the following issues:
  * [[USN-3156-1]](https://www.ubuntu.com/usn/usn-3156-1/): APT vulnerability
  
## <a id="1-1-9"></a>1.1.9

**Release Date: 7th December 2016**

Enhancements included in this release:

* The stemcell has been updated to 3263.12. This resolves the following issues:
  * [[USN-3151-2]](https://www.ubuntu.com/usn/usn-3151-2/): Linux kernel (Xenial HWE) vulnerability

## <a id="1-1-8"></a>1.1.8

**Release Date: 21st October 2016**

Enhancements included in this release:

* The stemcell has been updated to 3233.3. This resolves the following issues:
  * [[USN-3106-2]](https://www.ubuntu.com/usn/usn-3106-2/): Linux kernel (Xenial HWE) vulnerability

## <a id="1-1-7"></a>1.1.7

**Release Date: 12th October 2016**

Enhancements included in this release:

* The stemcell has been updated to 3233.2 for stability and bug fixes.

## <a id="1-1-6"></a>1.1.6

**Release Date: 6th October 2016**

Enhancements included in this release:

* The stemcell has been updated to 3233.1 as an upgrade to Linux version 4.4 kernel and to enable future upgrades.

## <a id="1-1-4"></a>1.1.4

**Release Date: 28th September 2016**

Enhancements included in this release:

* The stemcell has been updated to 3232.21. This resolves the following issues:
  * [[USN-3087-2]](http://www.ubuntu.com/usn/usn-3087-2/): OpenSSL regression

## <a id="1-1-3"></a>1.1.3

**Release Date: 8th September 2016**

This release includes a Cloud Foundry component update.

Features included in this release:

* The Cloud Foundry Command Line Interface tool (cf CLI) used in errands has been upgraded to version 6.21.1 and is now configured to allow for long DNS resolution times.

## <a id="1-1-2"></a>1.1.2

**Release Date: 24th August 2016**

This release updates the stemcell and adds enhancements to the Config Server and Circuit Breaker Dashboard services. It also contains bug fixes.

Features included in this release:

* The stemcell has been updated to 3232.17. This resolves the following issues:
  * [[USN-3064-1]](http://www.ubuntu.com/usn/usn-3064-1/): GnuPG vulnerability

Enhancements included in this release:

* Config Server support for placeholders in repository URIs has been improved.
* Config Server can now be configured to clone configuration source repositories on startup (as opposed to the default behavior of cloning a repository when configuration is first requested from the associated configuration source). See the [table of general configuration parameters](/spring-cloud-services/1-1/config-server/creating-an-instance.html#general-configuration-parameters) in the [Creating an Instance](/spring-cloud-services/1-1/config-server/creating-an-instance.html) topic of the [Config Server documentation](/spring-cloud-services/1-1/config-server/index.html) for more information.
* Circuit Breaker Dashboard's Spring Cloud Stream configuration now uses all URIs provided for the associated [RabbitMQ for Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-rabbitmq-service) service instance.
* The tile install and uninstall processes are now more resilient to errors encountered during the relevant errands.

Fixes included in this release:

* If the service broker worker fails to update a service instance when the service broker receives a provision or update request, the request to the service broker will now time out and the service instance status will be changed from PENDING to FAILED.
* Applications unbound from a Service Registry service instance will no longer remain in the service instance's registry and will be removed from that registry shortly after being unbound from the service instance.
* Fixed a problem where the service broker's authentication to the Cloud Controller would expire if the broker remained inactive for a long period of time.

## <a id="1-1-1"></a>1.1.1

**Release Date: 1st July 2016**

Features included in this release:

* The stemcell has been updated to 3232.12. This resolves the following issues:
  * [[USN-3020-1]](http://www.ubuntu.com/usn/usn-3020-1/): Linux kernel (Vivid HWE) vulnerabilities
  
## <a id="1-1-0"></a>1.1.0

**Release Date: 28th June 2016**

<p class='note'><strong>Important</strong>: Your client applications which work with Spring Cloud Services 1.0.x service instances must be updated in order to work with 1.1.0 service instances. See <a href="#migrating-from-1-0-x">Migrating from 1.0.x</a>.</p>

Features included in this release:

* Spring Cloud Services now supports Pivotal Cloud Foundry versions 1.6 and later.
* Service instances are now based on Spring Cloud Brixton.SR1, and client applications can use Spring Boot 1.3.x and Spring Cloud Brixton.SR1. For more information about client application dependencies, see <a href="/spring-cloud-services/1-1/client-dependencies.html">Client Dependencies</a>.
* The service broker now supports asynchronous service operations. For more information, see the <a href="/spring-cloud-services/1-1/operator-information.html#the-service-broker">The Service Broker</a> section of the <a href="/spring-cloud-services/1-1/operator-information.html">Operator Information</a>.
* Operators can now explicitly choose the Java buildpack that will be used to deploy service instances. For more information, see the <a href="/spring-cloud-services/1-1/operator-information.html#set-buildpack-for-service-instances">Set Buildpack for Service Instances</a> section of the <a href="/spring-cloud-services/1-1/operator-information.html">Operator Information</a>.
* Operators can now upgrade either individual service instances or all non-upgraded service instances directly from the Service Instances dashboard. For more information, see the <a href="/spring-cloud-services/1-1/operator-information.html#service-instances-dashboard">The Service Instances Dashboard</a> section of the <a href="/spring-cloud-services/1-1/operator-information.html">Operator Information</a>.
* Upgrades of service instances now result in zero downtime for the service instances. For more information about upgrading service instances, see <a href="/spring-cloud-services/1-1/service-instance-upgrades.html">Service Instance Upgrades</a>.
* Updates to Config Server settings now result in zero downtime for the Config Server service instance. For more information about updating a Config Server instance's settings, see <a href="/spring-cloud-services/1-1/config-server/updating-an-instance.html">Updating an Instance</a> in the <a href="/spring-cloud-services/1-1/config-server/">Config Server documentation</a>.
* Config Server can now access a Git repository that uses self-signed SSL certificates with HTTPS. For more information about supported configuration sources, see <a href="/spring-cloud-services/1-1/config-server/server.html">The Config Server</a> in the <a href="/spring-cloud-services/1-1/config-server/">Config Server documentation</a>.
* Config Server can now access a Git repository via a proxy server when using HTTP or HTTPS.
* Config Server can now access a Git repository using the Git or SSH protocols in addition to HTTP and HTTPS.
* Config Server can now be created with or updated to use multiple Git repositories as configuration sources.
* Config Server and Service Registry can now operate in high-availability mode, with a set count of instances to provision being specified when creating or updating a service instance. For more information, see <a href="/spring-cloud-services/1-1/config-server/creating-an-instance.html">Creating an Instance</a> and <a href="/spring-cloud-services/1-1/config-server/updating-an-instance.html">Updating an Instance</a> in the <a href="/spring-cloud-services/1-1/config-server/">Config Server documentation</a> and <a href="/spring-cloud-services/1-1/service-registry/creating-an-instance.html">Creating an Instance</a> and <a href="/spring-cloud-services/1-1/service-registry/updating-an-instance.html">Updating an Instance</a> in the <a href="/spring-cloud-services/1-1/service-registry/">Service Registry documentation</a>.

Enhancements included in this release:

* The operator Service Instances dashboard now displays the service keys bound to a service instance, in addition to its bound applications. For more information about the Service Instances dashboard, see the <a href="/spring-cloud-services/1-1/operator-information.html#service-instances-dashboard">The Service Instances Dashboard</a> section of the <a href="/spring-cloud-services/1-1/operator-information.html">Operator Information</a>.
* Dashboards for individual service instances now display the username of the logged-in user and provide a link to log out.
* Config Server service instances are now exclusively configured using provision and update parameters given to the Cloud Foundry Command Line Interface tool (cf CLI), and the Config Server's dashboard now displays the service instance's configuration. For more information, see <a href="/spring-cloud-services/1-1/config-server/creating-an-instance.html">Creating an Instance</a>, <a href="/spring-cloud-services/1-1/config-server/updating-an-instance.html">Updating an Instance</a>, and <a href="/spring-cloud-services/1-1/config-server/using-the-dashboard.html">Using the Dashboard</a> in the <a href="/spring-cloud-services/1-1/config-server/">Config Server documentation</a>.
* When creating a Circuit Breaker Dashboard service instance, the service broker now performs tasks in parallel for faster provisioning.

Known issues:

* Config Server currently does not support use of a private Git repository accessed via an authenticated proxy server as a configuration source. For more information, see <a href="/spring-cloud-services/1-1/config-server/creating-an-instance.html">Creating an Instance</a> or <a href="/spring-cloud-services/1-1/config-server/updating-an-instance.html">Updating an Instance</a> in the <a href="/spring-cloud-services/1-1/config-server/">Config Server documentation</a>.
* When upgrading a Circuit Breaker Dashboard instance from 1.0.x to 1.1.0, running applications must be unbound, rebound, and restarted, due to a change in how credentials are managed.
