---
title: Release Notes for Spring Cloud&reg; Services on Pivotal Cloud Foundry
owner: Spring Cloud Services
---

Release notes for [Spring Cloud Services for Pivotal Cloud Foundry](https://network.pivotal.io/products/p-spring-cloud-services)

## <a id="1-2"></a>1.2

### <a id="1-2-1"></a>1.2.1

**Release Date: 13th October 2016**

Enhancements included in this release:

* The stemcell has been updated to 3263.7 for stability and bug fixes.

### <a id="1-2-0"></a>1.2.0

**Release Date: 7th October 2016**

<p class='note'><strong>Note</strong>: Spring Cloud Services 1.2.0 is compatible with <a href="https://network.pivotal.io/products/pivotal-cf">Pivotal Cloud Foundry</a> (PCF) versions 1.6.x, 1.7.x, and 1.8.x. PCF 1.8 is recommended for optimum experience with this release.</p>

Enhancements included in this release:

* Service Registry service instances can now be configured to replicate service registrations across multiple PCF installations and availability zones.
* Service Registry service instances can now be configured to replicate service registrations across PCF organization and space boundaries.
* Service Registry service instances now allow multiple applications within a space to register with the same application name, so that registered applications can use a blue / green deployment strategy.
* Service Registry service instance dashboards now display the URI and, if a service instance is operating in high-availability (HA) mode, the local node count of the service instance.
* The Spring Cloud Services broker has been upgraded to Spring Boot 1.3.7 and Spring Cloud Brixton.SR5.
* The RabbitMQ Java client used by the Spring Cloud Services service broker has been upgraded to version 3.6.5. This resolves an issue where the Spring Cloud Services service broker could not provision service instances when the RabbitMQ for PCF product was using TLS and had its TLS 1.0 support disabled.

## <a id="1-1"></a>1.1

### <a id="1-1-7"></a>1.1.7

**Release Date: 12th October 2016**

Enhancements included in this release:

* The stemcell has been updated to 3233.2 for stability and bug fixes.

### <a id="1-1-6"></a>1.1.6

**Release Date: 6th October 2016**

Enhancements included in this release:

* The stemcell has been updated to 3233.1 as an upgrade to Linux version 4.4 kernel and to enable future upgrades.

### <a id="1-1-4"></a>1.1.4

**Release Date: 28th September 2016**

Enhancements included in this release:

* The stemcell has been updated to 3232.21. This resolves the following issues:
  * [[USN-3087-2]](http://www.ubuntu.com/usn/usn-3087-2/): OpenSSL regression

### <a id="1-1-3"></a>1.1.3

**Release Date: 8th September 2016**

This release includes a Cloud Foundry component update.

Features included in this release:

* The Cloud Foundry Command Line Interface tool (cf CLI) used in errands has been upgraded to version 6.21.1 and is now configured to allow for long DNS resolution times.

### <a id="1-1-2"></a>1.1.2

**Release Date: 24th August 2016**

This release updates the stemcell and adds enhancements to the Config Server and Circuit Breaker Dashboard services. It also contains bug fixes.

Features included in this release:

* The stemcell has been updated to 3232.17. This resolves the following issues:
  * [[USN-3064-1]](http://www.ubuntu.com/usn/usn-3064-1/): GnuPG vulnerability

Enhancements included in this release:

* Config Server support for placeholders in repository URIs has been improved.
* Config Server can now be configured to clone configuration source repositories on startup (as opposed to the default behavior of cloning a repository when configuration is first requested from the associated configuration source). See the [Configuration Parameters](/spring-cloud-services/config-server/creating-an-instance.html#configuration-parameters) section of the [Creating an Instance](/spring-cloud-services/config-server/creating-an-instance.html) topic in the [Config Server documentation](/spring-cloud-services/config-server/index.html) for more information.
* Circuit Breaker Dashboard's Spring Cloud Stream configuration now uses all URIs provided for the associated [RabbitMQ for Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-rabbitmq-service) service instance.
* The tile install and uninstall processes are now more resilient to errors encountered during the relevant errands.

Fixes included in this release:

* If the service broker worker fails to update a service instance when the service broker receives a provision or update request, the request to the service broker will now time out and the service instance status will be changed from PENDING to FAILED.
* Applications unbound from a Service Registry service instance will no longer remain in the service instance's registry and will be removed from that registry shortly after being unbound from the service instance.
* Fixed a problem where the service broker's authentication to the Cloud Controller would expire if the broker remained inactive for a long period of time.

### <a id="1-1-1"></a>1.1.1

**Release Date: 1st July 2016**

Features included in this release:

* The stemcell has been updated to 3232.12. This resolves the following issues:
  * [[USN-3020-1]](http://www.ubuntu.com/usn/usn-3020-1/): Linux kernel (Vivid HWE) vulnerabilities
  
### <a id="1-1-0"></a>1.1.0

**Release Date: 28th June 2016**

<p class='note'><strong>Important</strong>: Your client applications which work with Spring Cloud Services 1.0.x service instances must be updated in order to work with 1.1.0 service instances. See <a href="#migrating-from-1-0-x">Migrating from 1.0.x</a> below.</p>

Features included in this release:

* Spring Cloud Services now supports Pivotal Cloud Foundry versions 1.6 and later.
* Service instances are now based on Spring Cloud Brixton.SR1, and client applications can use Spring Boot 1.3.x and Spring Cloud Brixton.SR1. For more information about client application dependencies, see <a href="/spring-cloud-services/client-dependencies.html">Client Dependencies</a>.
* The service broker now supports asynchronous service operations. For more information, see the <a href="/spring-cloud-services/operator-information.html#the-service-broker">The Service Broker</a> section of the <a href="/spring-cloud-services/operator-information.html">Operator Information</a>.
* Operators can now explicitly choose the Java buildpack that will be used to deploy service instances. For more information, see the <a href="/spring-cloud-services/operator-information.html#set-buildpack">Set Buildpack for Service Instances</a> section of the <a href="/spring-cloud-services/operator-information.html">Operator Information</a>.
* Operators can now upgrade either individual service instances or all non-upgraded service instances directly from the Service Instances dashboard. For more information, see the <a href="/spring-cloud-services/operator-information.html#service-instances-dashboard">The Service Instances Dashboard</a> section of the <a href="/spring-cloud-services/operator-information.html">Operator Information</a>.
* Upgrades of service instances now result in zero downtime for the service instances. For more information about upgrading service instances, see <a href="/spring-cloud-services/upgrades.html">Upgrades</a>.
* Updates to Config Server settings now result in zero downtime for the Config Server service instance. For more information about updating a Config Server instance's settings, see <a href="/spring-cloud-services/config-server/updating-an-instance.html">Updating an Instance</a> in the <a href="/spring-cloud-services/config-server/">Config Server documentation</a>.
* Config Server can now access a Git repository that uses self-signed SSL certificates with HTTPS. For more information about supported configuration sources, see <a href="/spring-cloud-services/config-server/server.html">The Config Server</a> in the <a href="/spring-cloud-services/config-server/">Config Server documentation</a>.
* Config Server can now access a Git repository via a proxy server when using HTTP or HTTPS.
* Config Server can now access a Git repository using the Git or SSH protocols in addition to HTTP and HTTPS.
* Config Server can now be created with or updated to use multiple Git repositories as configuration sources.
* Config Server and Service Registry can now operate in high-availability mode, with a set count of instances to provision being specified when creating or updating a service instance. For more information, see <a href="/spring-cloud-services/config-server/creating-an-instance.html">Creating an Instance</a> and <a href="/spring-cloud-services/config-server/updating-an-instance.html">Updating an Instance</a> in the <a href="/spring-cloud-services/config-server/">Config Server documentation</a> and <a href="/spring-cloud-services/service-registry/creating-an-instance.html">Creating an Instance</a> and <a href="/spring-cloud-services/service-registry/updating-an-instance.html">Updating an Instance</a> in the <a href="/spring-cloud-services/service-registry/">Service Registry documentation</a>.

Enhancements included in this release:

* The operator Service Instances dashboard now displays the service keys bound to a service instance, in addition to its bound applications. For more information about the Service Instances dashboard, see the <a href="/spring-cloud-services/operator-information.html#service-instances-dashboard">The Service Instances Dashboard</a> section of the <a href="/spring-cloud-services/operator-information.html">Operator Information</a>.
* Dashboards for individual service instances now display the username of the logged-in user and provide a link to log out.
* Config Server service instances are now exclusively configured using provision and update parameters given to the Cloud Foundry Command Line Interface tool (cf CLI), and the Config Server's dashboard now displays the service instance's configuration. For more information, see <a href="/spring-cloud-services/config-server/creating-an-instance.html">Creating an Instance</a>, <a href="/spring-cloud-services/config-server/updating-an-instance.html">Updating an Instance</a>, and <a href="/spring-cloud-services/config-server/using-the-dashboard.html">Using the Dashboard</a> in the <a href="/spring-cloud-services/config-server/">Config Server documentation</a>.
* When creating a Circuit Breaker Dashboard service instance, the service broker now performs tasks in parallel for faster provisioning.

Known issues:

* Config Server currently does not support use of a private Git repository accessed via an authenticated proxy server as a configuration source. For more information, see <a href="/spring-cloud-services/config-server/creating-an-instance.html">Creating an Instance</a> or <a href="/spring-cloud-services/config-server/updating-an-instance.html">Updating an Instance</a> in the <a href="/spring-cloud-services/config-server/">Config Server documentation</a>.
* When upgrading a Circuit Breaker Dashboard instance from 1.0.x to 1.1.0, running applications must be unbound, rebound, and restarted, due to a change in how credentials are managed.

#### <a id="migrating-from-1-0-x"></a>Migrating from 1.0.x

In 1.1.0, the Spring Cloud Services client dependencies have been restructured and are based on Spring Cloud Brixton. To ensure compatibility of your client applications with Spring Cloud Services 1.1.0 service instances, you must update client applications to include the new dependencies. Your client applications must also include the Spring Boot and Spring Cloud Maven BOM dependencies.

For information about upgrading Spring Cloud Services service instances after upgrading the Spring Cloud Services product, see the <a href="/spring-cloud-services/upgrades.html#service-instance-upgrade-steps">Service Instance Upgrade Steps</a> section of <a href="/spring-cloud-services/upgrades.html">Upgrades</a>. For complete information about the Spring Cloud Services client dependencies, see <a href="/spring-cloud-services/client-dependencies.html">Client Dependencies</a>.

## <a id="1-0"></a>1.0

### <a id="1-0-16"></a>1.0.16

**Release Date: 12th October 2016**

Enhancements included in this release:

* The stemcell has been updated to 3233.2 for stability and bug fixes.

### <a id="1-0-15"></a>1.0.15

**Release Date: 6th October 2016**

Enhancements included in this release:

* The stemcell has been updated to 3233.1 as an upgrade to Linux version 4.4 kernel and to enable future upgrades.

### <a id="1-0-13"></a>1.0.13

**Release Date: 28th September 2016**

<p class='note'><strong>Important</strong>: Spring Cloud Services version 1.0.13 was removed from Pivotal Network due to an incorrect stemcell dependency. Please upgrade to version 1.0.14 or later.</p>

Enhancements included in this release:

* The stemcell has been updated to 3232.21. This resolves the following issues:
  * [[USN-3087-2]](http://www.ubuntu.com/usn/usn-3087-2/): OpenSSL regression

### <a id="1-0-12"></a>1.0.12

**Release Date: 24th August 2016**

This release updates the stemcell.

Features included in this release:

* The stemcell has been updated to 3232.17. This resolves the following issues:
  * [[USN-3064-1]](http://www.ubuntu.com/usn/usn-3064-1/): GnuPG vulnerability

### <a id="1-0-11"></a>1.0.11

**Release Date: 1st July 2016**

Features included in this release:

* The stemcell has been updated to 3232.12. This resolves the following issues:
  * [[USN-3020-1]](http://www.ubuntu.com/usn/usn-3020-1/): Linux kernel (Vivid HWE) vulnerabilities

### <a id="1-0-10"></a>1.0.10

**Release Date: 14th June 2016**

Features included in this release:

* The stemcell has been updated to 3232.8. This resolves the following issues:
  * [[USN-3001-1]](http://www.ubuntu.com/usn/usn-3001-1/): Linux kernel (Vivid HWE) vulnerabilities

### <a id="1-0-9"></a>1.0.9

**Release Date: 6th May 2016**

Features included in this release:

* The stemcell has been updated to 3232.2. This resolves the following issues:
  * [[USN-2959-1]](http://www.ubuntu.com/usn/usn-2959-1/): OpenSSL vulnerabilities

### <a id="1-0-8"></a>1.0.8

**Release Date: 18th April 2016**

Fixes included in this release:

* The Config Server now applies the values of its "Git Branch" and "Search Paths" configuration form fields when retrieving configuration for an application. These values were not applied from version 1.0.4 of Spring Cloud Services.

### <a id="1-0-7"></a>1.0.7

**Release Date: 16th March 2016**

Features included in this release:

* The stemcell has been updated to 3146.10. This resolves the following issues:
  * [[USN-2929-1]](http://www.ubuntu.com/usn/usn-2929-1/): Linux kernel vulnerabilities

### <a id="1-0-6"></a>1.0.6

**Release Date: 16th March 2016**

Fixes included in this release:

* 1.0.4 was inadvertently released with a version number in its product metadata that prevented upgrades to 1.0.5. This release corrects that.

### <a id="1-0-5"></a>1.0.5

**Release Date: 25th February 2016**

Features included in this release:

* The stemcell has been updated to 3146.9. This resolves the following issues:
  * [[USN-2910-1]](http://www.ubuntu.com/usn/usn-2910-1/):  Linux kernel (Vivid HWE) vulnerabilities
  * [[USN-2900-1]](http://www.ubuntu.com/usn/usn-2900-1/): GNU C Library vulnerability
  * [[USN-2897-1]](http://www.ubuntu.com/usn/usn-2897-1/): Nettle vulnerabilities
  * [[USN-2896-1]](http://www.ubuntu.com/usn/usn-2896-1/): Libgcrypt vulnerability

### <a id="1-0-4"></a>1.0.4

**Release Date: 2nd February 2016**

Features included in this release:

* A new Service Instances dashboard is accessible to operators of Spring Cloud Services. The dashboard provides an overview of all service instances and shows their org/space locations, version, status, and bound applications. For more details, see the [The Service Instances Dashboard](/spring-cloud-services/operator-information.html#service-instances-dashboard) section of the [Operator Information](/spring-cloud-services/operator-information.html).
* Service instances can now be individually upgraded to the latest version using the cf CLI. For more details, see the [Service Instance Upgrade Steps](/spring-cloud-services/upgrades.html#service-instance-upgrade-steps) section of [Upgrades](/spring-cloud-services/upgrades.html).
* Config Server instance settings (i.e. Git repository configuration) can now be provided using arbitrary parameters via "cf create-service." They can also be updated via "cf update-service."
* The stemcell has been updated to 3146.6. This resolves the following issues:
  * [[USN-2882-1]](http://www.ubuntu.com/usn/usn-2882-1/): curl vulnerability
  * [[USN-2879-1]](http://www.ubuntu.com/usn/usn-2879-1/): rsync vulnerability
  * [[USN-2875-1]](http://www.ubuntu.com/usn/usn-2875-1/): libxml2 vulnerabilities
  * [[USN-2874-1]](http://www.ubuntu.com/usn/usn-2874-1/): Bind vulnerability

Enhancements included in this release:

* Error pages are now consistent with the Spring Cloud Services UI styles.
* If the version of the Spring Cloud Services service broker has not changed, the Deploy Service Broker errand will not perform a deployment. For more details, see the [The Service Broker](/spring-cloud-services/operator-information.html#the-service-broker) section of the [Operator Information](/spring-cloud-services/operator-information.html).
* Deployment of the Spring Cloud Services service broker will no longer result in a broker outage. For more details, see the [The Service Broker](/spring-cloud-services/operator-information.html#the-service-broker) section of the [Operator Information](/spring-cloud-services/operator-information.html).
* The "cf" and "uaac" commands that are run in BOSH errands are now echoed so that commands can be correlated with their output for troubleshooting purposes.
* Incorrect configuration of generated SSL certificates in Elastic Runtime will now result in an installation failure with a descriptive error message in the install logs. For more details, see the [Security Requirements](/spring-cloud-services/prerequisites.html#security-requirements) section of [Prerequisites](/spring-cloud-services/prerequisites.html).
* Service instance dashboards now include the name of the service instance as breadcrumbs.
* Config Server instances will no longer strip the `{cipher}` prefix from ciphertext contained in the backing Git repository, so that client-side decryption is now possible.
* [Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf) (PCF) load balancers with publicly routable IP addresses are now supported.

Fixes included in this release:

* The password field on the Config Server configuration dashboard is now appropriately masked.
* Restart of the backing application for Service Registry service instances will no longer cause a temporary return of empty registry information to clients.
* The Circuit Breaker Dashboard now displays correctly in Safari and Firefox.

### <a id="1-0-3"></a>1.0.3

**Release Date: 7th January 2016**

Features included in this release:

* Updated stemcell to 3146.2. This resolves the following issues:
  * [[USN-2857-1]](http://www.ubuntu.com/usn/usn-2857-1/): Linux kernel vulnerability
  * [[USN-2842-1]](http://www.ubuntu.com/usn/usn-2842-1/): Linux kernel vulnerabilities
  * [[USN-2842-2]](http://www.ubuntu.com/usn/usn-2842-2/): Linux kernel (Vivid HWE) vulnerabilities
  * [[USN-2836-1]](http://www.ubuntu.com/usn/usn-2836-1/): GRUB vulnerability
  * [[USN-2834-1]](http://www.ubuntu.com/usn/usn-2834-1/): libxml2 vulnerabilities
  * [[USN-2830-1]](http://www.ubuntu.com/usn/usn-2830-1/): OpenSSL vulnerabilities
  * [[USN-2829-1]](http://www.ubuntu.com/usn/usn-2829-1/): Linux kernel vulnerabilities


### <a id="1-0-2"></a>1.0.2

**Release Date: 1st December 2015**

Features included in this release:

* Updated stemcell to 3144. This resolves the following issues:
  * [[USN-2815-1]](http://www.ubuntu.com/usn/usn-2815-1/): libpng vulnerabilities
  * [[USN-2812-1]](http://www.ubuntu.com/usn/usn-2812-1/): libxml2 vulnerabilities
  * [[USN-2810-1]](http://www.ubuntu.com/usn/usn-2810-1/): Kerberos vulnerabilities

### <a id="1-0-1"></a>1.0.1

**Release Date: 12th November 2015**

Features included in this release:

* Updated stemcell to 3130. This resolves the following issues:
  * [[USN-2806-1]](http://www.ubuntu.com/usn/usn-2806-1/): Linux kernel (Vivid HWE) vulnerability
  * [[USN-2798-1]](http://www.ubuntu.com/usn/usn-2798-1/): Linux kernel (Vivid HWE) vulnerabilities
* Removed SVN support from Config Server due to licensing issues

### <a id="1-0-0"></a>1.0.0

**Release Date: 26th October 2015**

Features included in this release:

* General Availability release

Known issues:

* [Feign](https://github.com/Netflix/feign) clients require [Spring Cloud Netflix](http://cloud.spring.io/spring-cloud-netflix/) version 1.0.4. This release of Spring Cloud Services depends on Spring Cloud Netflix version 1.0.3. If you wish to use a Feign client with a Spring Cloud Services service instance, you must manually override the version of Spring Cloud Netflix used by your application.
<br/> <br/>
    Using Gradle:

    ```groovy
    ext["spring-cloud-netflix.version"] = "1.0.4.RELEASE"
    ```

    Using Maven:

    ```xml
    <properties>
        <!-- override the managed versions of Spring Cloud Netflix dependencies -->
        <spring-cloud-netflix.version>1.0.4.RELEASE</spring-cloud-netflix.version>
    </properties>
    ```
