---
title: Additional Resources
---

* <a href="http://cloud.spring.io/spring-cloud-config/spring-cloud-config.html">Spring Cloud Config</a> &nbsp;(documentation for Spring Cloud Config, the open-source project that underlies Config Server for Pivotal Cloud Foundry)
* <a href="https://spring.io/blog/2015/01/13/configuring-it-all-out-or-12-factor-app-style-configuration-with-spring">"Configuring It All Out" or "12-Factor App-Style Configuration with Spring"</a> &nbsp;(blog post that provides background on Spring's configuration mechanisms and on Spring Cloud Config)
* <a href="https://spring.io/blog/2011/02/11/spring-framework-3-1-m1-released/">Spring Framework 3.1 M1 released</a> &nbsp;(release announcement which introduced Spring's `Environment` abstraction and profiles)
