---
title: Additional Resources
---

* <a href="https://www.youtube.com/watch?v=bJvReWt2jLc">Spring Cloud Services 1.0.0 on Pivotal Cloud Foundry - Config Server - YouTube</a> (short screencast demonstrating Config Server for Pivotal Cloud Foundry)
* <a href="http://cloud.spring.io/spring-cloud-config/spring-cloud-config.html">Spring Cloud Config</a> &nbsp;(documentation for Spring Cloud Config, the open-source project that underlies Config Server for Pivotal Cloud Foundry)
* <a href="https://spring.io/blog/2015/01/13/configuring-it-all-out-or-12-factor-app-style-configuration-with-spring">"Configuring It All Out" or "12-Factor App-Style Configuration with Spring"</a> &nbsp;(blog post that provides background on Spring's configuration mechanisms and on Spring Cloud Config)
* <a href="http://docs.spring.io/spring/docs/current/spring-framework-reference/htmlsingle/#beans-environment">Environment abstraction (Spring Framework Reference Documentation)</a> &nbsp;(Spring Framework documentation on the `Environment` and the concepts of profiles and properties)
