---
title: The service-registry-info Command
owner: Spring Cloud Services
---

<strong><%= modified_date %></strong>

The Spring Cloud Services Cloud Foundry Command Line Interface tool (cf CLI) plugin adds a `service-registry-info` command, which can be used to obtain information about a Service Registry service instance. See below for more information about the command's usage.

## <a id="command-usage"></a>Command Usage

Use `cf service-registry-info` to get information about a Service Registry service instance. Parameters accepted by the `service-registry-info` command are listed below.

| Parameter                          | Function                                          |
|------------------------------------|---------------------------------------------------|
| <code>[NAME]</code>                | The name of the Service Registry service instance |

If running the command for a Service Registry service instance in a [Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf) (PCF) deployment that uses a self-signed SSL certificate, you can provide the `--skip-ssl-validation` flag.

Information returned includes the Service Registry's server URL, its High Availability (HA) node count (in case the service instance is running in HA mode), and the list of its peer service instances (if any).

<pre class="terminal">
Service instance: service-registry
Server URL: https://eureka-cd32b0cf-f3e8-4382-8bac-18e20334c757.apps.wise.com/
High availability count: 3
Peers: https://eureka-a6950dc5-d1db-4bab-8d1b-435d97b6f43d.apps.wise.com,
       https://eureka-f1fb3bb4-c765-477d-b798-f3f149395542.apps.wise.com
</pre>

To obtain information about a Service Registry service instance named `service-registry`, run:

<pre class="terminal">
$ cf service-registry-info service-registry
</pre>

To obtain information about a Service Registry service instance named `service-registry`, skipping validation of the service instance's SSL certificate, run:

<pre class="terminal">
$ cf service-registry-info service-registry --skip-ssl-validation
</pre>
