---
title: Using the Dashboard
owner: Spring Cloud Services
---

<strong><%= modified_date %></strong>

To find the dashboard, navigate in <%= vars.scs_platform_name %> Apps Manager to the Config Server service instance's space, click the listing for the service instance, and then click **Manage**.

<%= image_tag(vars.scs_cs_using_dashboard_manage_link) %>

If you are using version 6.8.0 or later of the Cloud Foundry Command Line Interface tool (cf CLI), you can also use `cf service SERVICE_NAME`, where `SERVICE_NAME` is the name of the Config Server service instance:

<pre class="terminal">
$ cf service config-server

Service instance: config-server
Service: p-config-server
Bound apps:
Tags:
Plan: standard
Description: Config Server for Spring Cloud Applications
Documentation url: http://docs.pivotal.io/spring-cloud-services/
Dashboard: https://spring-cloud-broker.apps.wise.com/dashboard/p-config-server/650fd967-4e8e-4590-81a0-a029866184a2

Last Operation
Status: update succeeded
Message:
Started: 2016-06-27T14:30:23Z
Updated: 2016-06-27T14:32:30Z
</pre>

Visit the URL given for "Dashboard".

The dashboard shows the current health of the Config Server along with the JSON object used to configure its settings. You can click the **Copy to clipboard** button to obtain this object in a string format suitable for use in command lines.

<%= image_tag(vars.scs_cs_using_dashboard_updated_dashboard) %>

For the settings shown in the above figure, the button copies the following to the clipboard:

<pre class="terminal">
"{\"count\":1,\"git\":{\"privateKey\":\"****\",\"hostKey\":\"****\",\"hostKeyAlgorithm\":\"ssh-rsa\",\"uri\":\"git@github.com:spring-cloud-services-samples/cook.git\"},\"encrypt\":{\"key\":\"****\"}}"
</pre>

<p class='note'><strong>Important</strong>: If the Config Server service instance has been configured to use any credentials or encryption keys, you will need to edit the text provided by the <strong>Copy to clipboard</strong> button and replace the masked values (<code>****</code>) with the actual values.</p>

If a Config Server is not running properly its dashboard will provide problem details as shown in the example below.

