---
title: Consuming a Service from a Client Application
---

_Please refer to the sample applications in the <a href="https://github.com/spring-cloud-samples/greeting">&#8220;greeting&#8221; repository</a> to follow along with the code in this subtopic._

To consume a service which is registered with a Service Registry instance, a Spring application must include the `spring-cloud-services-starter-parent` BOM and declare `spring-cloud-services-starter-service-registry` as a dependency. 

If using Maven, <a href="https://github.com/spring-cloud-samples/greeting/blob/master/camelboy/pom.xml#L14-30">include in `pom.xml`</a>:

```xml
  <parent>
    <groupId>io.pivotal.spring.cloud</groupId>
    <artifactId>spring-cloud-services-starter-parent</artifactId>
    <version>1.0.0.BUILD-SNAPSHOT</version>
    <relativePath/> <!-- lookup parent from repository -->
  </parent>
  ...
  <dependencies>
    <dependency>
      <groupId>io.pivotal.spring.cloud</groupId>
      <artifactId>spring-cloud-services-starter-service-registry</artifactId>
    </dependency>
    ...
```

If using Gradle, <a href="https://github.com/spring-cloud-samples/greeting/blob/master/camelboy/build.gradle#L22-43">include in `build.gradle`</a>:

```groovy
dependencyManagement {
    imports {
        mavenBom "io.pivotal.spring.cloud:spring-cloud-services-starter-parent:1.0.0.M1"
    }
}

...

dependencies {
    ...
    compile("io.pivotal.spring.cloud:spring-cloud-services-starter-service-registry")
}
```

(Note that this will require <a href="https://github.com/spring-cloud-samples/greeting/blob/master/camelboy/build.gradle#L5-13">use of the Gradle dependency management plugin</a>.)

A consuming application must also <a href="https://github.com/spring-cloud-samples/greeting/blob/master/camelboy/src/main/java/camelboy/CamelboyApplication.java#L21-27">include the ```@EnableDiscoveryClient``` annotation on a configuration class</a>.

```java
@SpringBootApplication
@EnableDiscoveryClient
@RestController
public class CamelboyApplication {

    @Autowired
    private RestTemplate rest;
    //...
```

To call a registered service, a consuming application can use a URI with a hostname matching the name with which the service is registered in the Service Registry. This way, the consuming application does not need to know the service application&#8217;s actual URL&#8212;the Registry will take care of finding and routing to the service.

The Expedition application is registered with the Service Registry instance as &#8220;expedition&#8221;, so in the Camelboy application, <a href="https://github.com/spring-cloud-samples/greeting/blob/master/camelboy/src/main/java/camelboy/CamelboyApplication.java#L34-44">the `hello()` method on the `CamelboyApplication` class</a> uses the base URI `http://expedition` to get a greeting message from Expedition.

```java
    @RequestMapping(value = "/hello", method = RequestMethod.GET)
    public String hello(@RequestParam(value="salutation",
                                        defaultValue="Hello") String salutation,
                        @RequestParam(value="name",
                                        defaultValue="camel boy") String name) {
        URI uri = UriComponentsBuilder.fromUriString("http://expedition/greeting")
            .queryParam("salutation", salutation)
            .queryParam("name", name)
            .build()
            .toUri();

        Greeting greeting = rest.getForObject(uri, Greeting.class);
        return greeting.getMessage();
    }
```

<a href="https://github.com/spring-cloud-samples/greeting/blob/master/camelboy/src/main/java/camelboy/CamelboyApplication.java#L46-59">Camelboy&#8217;s `Greeting` class</a> uses Jackson&#8217;s <a href="http://fasterxml.github.io/jackson-annotations/javadoc/2.1.0/com/fasterxml/jackson/annotation/JsonCreator.html">`@JsonCreator`</a> and <a href="http://fasterxml.github.io/jackson-annotations/javadoc/2.1.0/com/fasterxml/jackson/annotation/JsonProperty.html">`@JsonProperty`</a> to read in the JSON response from Expedition.

```java
    private static class Greeting {

        private String message;

        @JsonCreator
        public Greeting(@JsonProperty("message") String message) {
            this.message = message;
        }

        public String getMessage() {
            return this.message;
        }

    }
```

The Camelboy application now responds with a customizable `Greeting` when we access its `/hello` endpoint.

<pre class="terminal">
$ curl http://camelboy.wise.com/hello
Hello, camel boy!

$ curl http://camelboy.wise.com/hello?name=Jesse
Hello, Jesse!
</pre>
