---
title: Service Registry for Pivotal Cloud Foundry
---

## <a id="overview"></a>Overview ##

Service Registry for Pivotal Cloud Foundry is a service which enables service discoverability for applications running in a Pivotal Cloud Foundry environment. Service Discovery is one of the key tenets of a microservice based architecture. Trying to hand configure each client or some form of convention can be very difficult to do and can be very brittle. [Eureka](https://github.com/Netflix/eureka) is the Netflix Service Discovery Server and Client and is the underlying technology behind the Service Registry.

When a client registers with the Service Registry, it provide meta-data about itself such as host and port. Eureka receives heartbeat messages from each instance belonging to a service. If the heartbeat fails over a certain time, the instance is normally removed from the registry.

