---
title: Registering a Service
---

_Please refer to the sample applications in the <a href="https://github.com/spring-cloud-samples/greeting">&#8220;greeting&#8221; repository</a> to follow along with the code in this subtopic._

To register with a Service Registry instance, a Spring application must include the `spring-cloud-services-starter-parent` BOM and declare `spring-cloud-services-starter-service-registry` as a dependency. 

If using Maven, <a href="https://github.com/spring-cloud-samples/greeting/blob/master/expedition/pom.xml#L14-30">include in `pom.xml`</a>:

```xml
  <parent>
    <groupId>io.pivotal.spring.cloud</groupId>
    <artifactId>spring-cloud-services-starter-parent</artifactId>
    <version>1.0.0.BUILD-SNAPSHOT</version>
    <relativePath/> <!-- lookup parent from repository -->
  </parent>
  ...
  <dependencies>
    <dependency>
      <groupId>io.pivotal.spring.cloud</groupId>
      <artifactId>spring-cloud-services-starter-service-registry</artifactId>
    </dependency>
    ...
```

If using Gradle, <a href="https://github.com/spring-cloud-samples/greeting/blob/master/expedition/build.gradle#L22-43">include in `build.gradle`</a>:

```groovy
dependencyManagement {
    imports {
        mavenBom "io.pivotal.spring.cloud:spring-cloud-services-starter-parent:1.0.0.M1"
    }
}

...

dependencies {
    ...
    compile("io.pivotal.spring.cloud:spring-cloud-services-starter-service-registry")
}
```

(Note that this will require <a href="https://github.com/spring-cloud-samples/greeting/blob/master/expedition/build.gradle#L5-13">use of the Gradle dependency management plugin</a>.)

Your service application must <a href="https://github.com/spring-cloud-samples/greeting/blob/master/expedition/src/main/java/expedition/ExpeditionApplication.java#L5-18">include the ```@EnableDiscoveryClient``` annotation on a configuration class</a>.

```java
import org.springframework.cloud.client.discovery.EnableDiscoveryClient;
//..

@SpringBootApplication
@EnableDiscoveryClient
@RestController
public class ExpeditionApplication {
    //...
```

The `ExpeditionApplication` class also has <a href="https://github.com/spring-cloud-samples/greeting/blob/master/expedition/src/main/java/expedition/ExpeditionApplication.java#L27-31">a `/greeting` endpoint</a> which gives a JSON `Greeting` object.

```java
    @RequestMapping("/greeting")
    public Greeting greeting(@RequestParam(value="salutation",
                              defaultValue="Hello") String salutation,
                             @RequestParam(value="name",
                              defaultValue="camel boy") String name) {
        //...
        return new Greeting(salutation, name);
    }
```

Set `spring.application.name` and `eureka.instance.hostname` to the values from the application deployment. You must also set `eureka.instance.nonSecurePort` for compatibility with Pivotal Cloud Foundry.

<a href="https://github.com/spring-cloud-samples/greeting/blob/master/expedition/src/main/resources/application.yml">In `application.yml`</a>:

```yml
spring:
  application:
    name: ${vcap.application.name}

eureka:
  instance:
    hostname: ${vcap.application.uris[0]}
    nonSecurePort: 80
```

You can now bind the application to a Service Registry instance. Once it has been bound and restaged and has successfully registered with the Registry, you will see it listed in the Service Registry dashboard (see the <a href="/spring-cloud-services/service-registry/using-the-dashboard.html">Using the Dashboard</a> subtopic).

<%= image_tag("service-registry/registered-service.png") %>

For information on discovering and consuming registered services, see the <a href="/spring-cloud-services/service-registry/consuming-a-service.html">Consuming a Service</a> subtopic.
