---
title: Additional Resources
---

* <a href="https://www.youtube.com/watch?v=tnVNiRn-TLw">Spring Cloud Services 1.0.0 on <a href="https://network.pivotal.io/products/pivotal-cf">Pivotal Cloud Foundry&reg;</a> - Service Registry - YouTube</a> (short screencast demonstrating Service Registry for Pivotal Cloud Foundry&reg;)
* <a href="https://github.com/Netflix/eureka/wiki">Home &#183; Netflix/eureka Wiki</a> &nbsp;(documentation for Netflix Eureka, the service registry that underlies Service Registry for Pivotal Cloud Foundry&reg;)
* <a href="http://cloud.spring.io/spring-cloud-netflix/spring-cloud-netflix.html">Spring Cloud Netflix</a> &nbsp;(documentation for Spring Cloud Netflix, the open-source project which provides Netflix OSS integrations for Spring applications)
* <a href="https://spring.io/blog/2015/01/20/microservice-registration-and-discovery-with-spring-cloud-and-netflix-s-eureka">Microservice Registration and Discovery with Spring Cloud and Netflix's Eureka</a> &nbsp;(discussion and examples of configuring Eureka and Netflix Ribbon using Spring Cloud)
* <a href="http://microservices.io/patterns/client-side-discovery.html">Client-side service discovery pattern</a> &nbsp; (general description of Service Discovery pattern)
* <a href="http://microservices.io/patterns/service-registry.html">Service registry pattern</a> &nbsp; (general description of service registry concept)
