---
title: Additional Resources
---

* <a href="https://github.com/Netflix/eureka/wiki">Home &#183; Netflix/eureka Wiki</a> &nbsp;(documentation for Netflix Eureka, the service registry that underlies Service Registry for Pivotal Cloud Foundry)
* <a href="http://microservices.io/patterns/client-side-discovery.html">Client-side service discovery pattern</a> &nbsp; (general description of Service Discovery pattern)
* <a href="http://microservices.io/patterns/service-registry.html">Service registry pattern</a> &nbsp; (general description of service registry concept)
