---
title: Using the Dashboard
owner: Spring Cloud Services
---

<strong><%= modified_date %></strong>

<p class='note'><strong>Note</strong>: Service Registry for Pivotal Cloud Foundry is currently based on Spring Cloud&reg; OSS Brixton. If binding a Spring Cloud OSS Angel application to a Service Registry service instance, you may see irregular behavior in the Service Registry service instance dashboard's listing for the application. <br /><br /> For information on current client dependencies provided for use with Spring Cloud Services service instances, see the <a href="/spring-cloud-services/client-dependencies.html">Client Dependencies</a> topic.</p>

Before you have bound any applications to a Service Registry instance, the Service Registry dashboard will reflect that there are "No applications registered".

<%= image_tag("service-registry/dashboard_no_applications.png") %>

To see applications listed in the dashboard, bind an application which uses ```@EnableDiscoveryClient``` to the service instance (see the <a href="/spring-cloud-services/service-registry/writing-client-applications.html">Writing Client Applications</a> topic). Once you have restaged the application and it has registered with Eureka, the dashboard will display it under **Registered Apps**.

<%= image_tag("service-registry/registered_service.png") %>
