---
title: Using the Dashboard
owner: Spring Cloud Services
---

<strong><%= modified_date %></strong>

Before you have bound any applications to a Service Registry instance, the Service Registry dashboard will reflect that there are "No applications registered".

<%= image_tag("service-registry/dashboard_empty.png") %>

To see applications listed in the dashboard, bind an application which uses ```@EnableDiscoveryClient``` to the service instance (see the <a href="/spring-cloud-services/service-registry/writing-client-applications.html">Writing Client Applications</a> subtopic). Once you have restaged the application and it has registered with Eureka, the dashboard will display it under **Registered Apps**.

<%= image_tag("service-registry/registered_service.png") %>
