---
title: Circuit Breaker Dashboard for Pivotal Cloud Foundry
owner: Spring Cloud Services
---

## Overview ##

Circuit Breaker Dashboard for [Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf) (PCF) provides Spring applications with an implementation of the Circuit Breaker pattern. Cloud-native architectures are typically composed of multiple layers of distributed services. End-user requests may comprise multiple calls to these services, and if a lower-level service fails, the failure can cascade up to the end user and spread to other dependent services. Heavy traffic to a failing service can also make it difficult to repair. Using Circuit Breaker Dashboard, you can prevent failures from cascading and provide fallback behavior until a failing service is restored to normal operation.

<%= image_tag("circuit-breaker/circuit-breaker-overview.png") %>

When applied to a service, a circuit breaker watches for failing calls to the service. If failures reach a certain threshold, it "opens" the circuit and automatically redirects calls to the specified fallback mechanism. This gives the failing service time to recover.

Circuit Breaker Dashboard for Pivotal Cloud Foundry is based on [Hystrix](https://github.com/Netflix/Hystrix), Netflix's latency and fault-tolerance library. For more information about Hystrix and about the Circuit Breaker pattern, see <a href="/spring-cloud-services/circuit-breaker/resources.html">Additional Resources</a>.

_Refer to the sample applications in the <a href="https://github.com/spring-cloud-samples/traveler/tree/1.3">"traveler" repository</a> to follow along with code in this section._
