---
title: Additional Resources
---

* <a href="https://spring.io/blog/2014/12/02/springone2gx-2014-replay-spring-boot-and-netflix-oss">SpringOne2GX 2014 Replay: Spring Boot and Netflix OSS</a> &nbsp;(59:54 in the video begins an introduction of Hystrix and a Spring Cloud demo)
