---
title: Additional Resources
owner: Spring Cloud Services
---

<strong><%= modified_date %></strong>

* <a href="https://www.youtube.com/watch?v=Vd243GqrkMI">Spring Cloud&reg; Services 1.0.0 on Pivotal Cloud Foundry</a> - Circuit Breaker - YouTube (short screencast demonstrating Circuit Breaker Dashboard for Pivotal Cloud Foundry)
* <a href="https://github.com/Netflix/Hystrix/wiki">Home · Netflix/Hystrix Wiki</a> &nbsp;(documentation for Netflix Hystrix, the library that underlies Circuit Breaker Dashboard for Pivotal Cloud Foundry)
* <a href="http://cloud.spring.io/spring-cloud-netflix/spring-cloud-netflix.html">Spring Cloud Netflix</a> &nbsp;(documentation for Spring Cloud Netflix, the open-source project which provides Netflix OSS integrations for Spring applications)
* <a href="http://martinfowler.com/bliki/CircuitBreaker.html">CircuitBreaker</a> &nbsp;(article in Martin Fowler&#8217;s Bliki about the Circuit Breaker pattern)
* <a href="http://techblog.netflix.com/2012/11/hystrix.html">The Netflix Tech Blog: Introducing Hystrix for Resilience Engineering</a> &nbsp;(Netflix Tech introduction of Hystrix)
* <a href="http://techblog.netflix.com/2011/12/making-netflix-api-more-resilient.html">The Netflix Tech Blog: Making the Netflix API More Resilient</a> &nbsp;(Netflix Tech description of how Netflix&#8217;s API used the Circuit Breaker pattern)
* <a href="https://spring.io/blog/2014/12/02/springone2gx-2014-replay-spring-boot-and-netflix-oss">SpringOne2GX 2014 Replay: Spring Boot and Netflix OSS</a> &nbsp;(59:54 in the video begins an introduction of Hystrix and a Spring Cloud demo)
