### Dependencies

Spring Cloud Services relies on the following other Pivotal Cloud Foundry products.

| Service                                                                             | Supported Versions  |
|-------------------------------------------------------------------------------------|---------------------|
| <a href="https://network.pivotal.io/products/p-mysql">MySQL</a>                     | 1.7.1-1.9.x         |
| <a href="https://network.pivotal.io/products/pivotal-rabbitmq-service">RabbitMQ</a> | 1.7.0-1.8.x         |

<a id="product-snapshot"></a>
## Product Snapshot

<dl>
<dt>Current Spring Cloud Services <%=vars.scs_suffix_abbrev%> Details</dt>
<dd><strong>Version</strong>: 1.4.1 </dd>
<dd><strong>Release Date</strong>: 31 May 2017</dd>
<dd><strong>Software component version</strong>: Spring Cloud OSS Dalston.RELEASE</dd>
<dd><strong>Compatible Ops Manager Version(s)</strong>: 1.10.x, 1.9.x, 1.8.x</dd>
<dd><strong>Compatible Elastic Runtime Version(s)</strong>: 1.10.x, 1.9.x, 1.8.x</dd>
<dd><strong>Supported IaaS:</strong> All supported by PCF</dd>
</dl>
