### Dependencies

Spring Cloud Services relies on the following other Pivotal Cloud Foundry products.

| Service                                                                             | Supported Versions  |
|-------------------------------------------------------------------------------------|---------------------|
| <a href="https://network.pivotal.io/products/p-mysql">MySQL</a>                     | 1.6.1-1.7.x         |
| <a href="https://network.pivotal.io/products/pivotal-rabbitmq-service">RabbitMQ</a> | 1.5.0-1.7.x         |

<a id="product-snapshot"></a>
## Product Snapshot

Current Spring Cloud Services <%=vars.scs_suffix_abbrev%> details:

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>1.3.3</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>January 30, 2017</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>Spring Cloud OSS Camden.SR3</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>1.9.x, 1.8.x, 1.7.x</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>1.9.x, 1.8.x, 1.7.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>All supported by PCF</td>
    </tr>       
</table>
