### Dependencies

Spring Cloud Services relies on the following other Pivotal Cloud Foundry products.

| Service                                                                                                                                    | Supported Versions             |
|--------------------------------------------------------------------------------------------------------------------------------------------|--------------------------------|
| <a href="https://network.pivotal.io/products/p-mysql">MySQL</a> / <a href="https://network.pivotal.io/products/pivotal-mysql">MySQL v2</a> | 1.10.x (v1), 2.0.x--2.1.x (v2) |
| <a href="https://network.pivotal.io/products/pivotal-rabbitmq-service">RabbitMQ</a>                                                        | 1.10.0--1.11.x                 |

<a id="product-snapshot"></a>
## Product Snapshot

<dl>
<dt>Current Spring Cloud Services <%=vars.scs_suffix_abbrev%> Details</dt>
<dd><strong>Version</strong>: 1.5.0 </dd>
<dd><strong>Release Date</strong>: 22 December 2017</dd>
<dd><strong>Software component version</strong>: Spring Cloud OSS Edgware.RELEASE</dd>
<dd><strong>Compatible Ops Manager Version(s)</strong>: 2.0.x, 1.12.x</dd>
<dd><strong>Compatible Elastic Runtime Version(s)</strong>: 2.0.x, 1.12.x</dd>
<dd><strong>Supported IaaS:</strong> All supported by PCF</dd>
</dl>
